.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #F7F7F7;
    margin-bottom: 25px;
}
.label-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.values{
    display: flex;
    justify-content: space-between;
}